body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ADB2D8;
}

.box{
    padding: 60px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: #C7D9D8;
}
